@import url(reset.css);
@import url(variable.css);
@import url(nav.css);
@import url(footer.css);

@font-face {
  font-family: "space_grotesklight";
  src: url("../assets/fonts/spacegrotesk-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/spacegrotesk-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-size: 16px;
  font-family: var(--font-family);
}

.main {
  border: black solid;
  margin: 80px 50px;
}

.container {
  width: 100%;
  margin-left: auto;
  background-color: rgb(216, 197, 173);
  box-shadow: -25px -10px 43px 2px rgba(127, 109, 76, 0.49);
}

.form-group {
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-control {
  margin-top: 10px auto;
  margin-bottom: 5px auto;
}

.form-radio {
  margin: 10px 60px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.label {
  margin-top: 10px;
  margin-bottom: 6px;
  margin-left: 10px;
}

.formulaire__title {
  font-size: var(--font-size-subtitle);
  text-transform: uppercase;
  font-weight: var(--font-weight-xl);
  color: #000000;
  letter-spacing: var(--spacing-xs);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.align__btn {
  margin-top: 10px;
  padding: 15px;
  /* margin-bottom: 25px; */
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.btn__submit {
  background-color: green;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  grid-column: 2/3;
}

.btn__reset {
  background-color: rgb(224, 42, 42);
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  grid-column: 3/4;
}

.btn__submit:hover {
  background-color: rgb(21, 36, 21);
  cursor: pointer;
  transform: scale(1.1);
}

.btn__reset:hover {
  background-color: rgb(71, 5, 5);
  cursor: pointer;
  transform: scale(1.1);
}

.footer {
  height: 300px;
}
